:root {
  --main-bg-color: #1a0d2c;
  --main-text-color: #bba2e9;
  --text-accent-color: #ebe1ff;
  --red-accent-color: #c0002a;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--red-accent-color);
  border-radius: 10px;
}

@keyframes logo-intro {
  from {
    top: 600px;
    opacity: 0;
  }
  to {
    top: 300px;
    opacity: 1;
  }
}

@keyframes hero-image-intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--main-text-color);
}

a {
  transition: 0.25s;
  text-decoration: none;
}

a:hover {
  /* color: var(--text-accent-color); */
  color: var(--red-accent-color);
  cursor: pointer;
  transition: 0.25s;
}

#about-us-logo {
  max-height: 25vh;
}

#about-us-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 25vh;
  margin-top: 10vh;
  /* margin-bottom: -10vh; */
}

.about-us-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  background: black;
  background-color: rgba(19, 0, 33, 0.792);
  margin-top: 5vh;
  padding: 15px;
  box-shadow: 45px 30px 0px rgb(0, 0, 0);
}

section p {
  margin: 15px;
  color: whitesmoke;
  font-family: "Roboto Slab", serif;
  font-size: x-large;
}

#desktop-nav {
  visibility: visible;
}

.hidden {
  opacity: 0;
  transition: 0.5s;
}

.shown {
  display: block;
  transition: 0.5s;
}

html {
  /* overflow-x: hidden; */
  height: 100%;
}

.bio-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}

.bio-pic {
  height: 40vh;
}

.bio-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  height: 100%;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  margin: 0 35vw 0 35vw;
  /* max-width: 50vw; */
}

.cards-div {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(21, 0, 30);
  margin: 55px;
  max-width: 20vw;
  padding: 30px;
  text-align: center;
  box-shadow: 30px 45px 0px black;
}

.card h3 {
  color: var(--red-accent-color);
  font-size: x-large;
}

.card p {
  font-family: "Roboto Slab", serif;
  font-size: x-large;
}

#hamburger-icon {
  visibility: hidden;
}

.gig-content {
  /* margin-bottom: 1rem; */
}

.gig-description {
  margin-top: 1rem;
}

.gig-date {
  border: 1px solid var(--text-accent-color);
  padding: 1rem;
  margin: 1rem 1rem 0 0;
  color: var(--text-accent-color);
  display: flex;
}

.gig-div {
  display: flex;
  margin: 0.5rem;
}

.gig-hr {
  margin: 2rem 0 2rem 0;
}

.gig-title {
  color: var(--red-accent-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background-color: var(--main-bg-color);
  z-index: 100;
}

.header-icon-div {
  min-width: 5vw;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-bg-color); */
  max-height: 70vh;
  overflow: hidden;
}

#hero-image {
  width: 100vw;
  animation: hero-image-intro;
  animation-duration: 3s;
}

#hero-logo {
  height: 25vh;
  position: relative;
  top: 300px;
  transition: 0.25s;
  animation-name: logo-intro;
  animation-duration: 2.5s;
}

#hero-logo:hover {
  filter: drop-shadow(12px 12px 20px var(--red-accent-color));
  transition: 0.25s;
}

#hero-video {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

hr {
  /* visibility: hidden; */
  margin-bottom: 10vh;
  min-width: 50%;
}

li {
  font-size: larger;
}

#logo-div {
  position: absolute;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

#mobile-header {
  visibility: hidden;
}

nav #desktop-nav {
  margin: 20px 25% 20px 25%;
}

#promo-video {
  position: sticky;
  box-shadow: -45px -30px 0px black;
}

.sm-logo {
  height: 5vh;
  transition: 0.25s;
}

.sm-logo:hover {
  filter: drop-shadow(5px 5px 10px var(--red-accent-color));
  transition: 0.25s;
}

.social-icon-div {
  background-color: #bba2e9;
  padding: 15px;
  min-width: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-icon {
  height: 3vh;
  margin: 0 1rem 0 1rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li {
  padding: 0 40px 0 40px;
}

.x-icon {
  max-height: 1rem;
  max-width: 1rem;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--text-accent-color);
  align-self: flex-end;
}

.x-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    /* overflow-x: hidden; */
    /* width: 90vw; */
  }

  .bio-pic {
    height: 15vh;
  }

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .calendar {
    margin: none;
  }

  .gig-date {
    margin-bottom: 1rem;
  }

  .gig-div {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .gig-description {
    display: none;
  }

  .gig-div p {
    font-size: smaller;
  }

  .social-icon {
    visibility: hidden;
  }

  .cards-div {
    flex-direction: column;
  }

  .card {
    max-width: 100vw;
  }

  #hamburger-icon {
    visibility: visible;
    background-color: var(--text-accent-color);
    border-radius: 100%;
    padding: 0.5rem;
    height: 2rem;
    position: absolute;
    left: 70vw;
  }

  header {
    height: 10vh;
    justify-content: space-around;
  }

  .header-icon-div {
    position: sticky;
    top: 0;
  }

  #hero-video {
    max-height: 30vh;
    /* visibility: hidden; */
    position: absolute;
  }

  hr {
    visibility: visible;
    margin: -2rem 0 2rem 0;
  }

  #hero-logo {
    height: 15vh;
  }

  #logo-div {
    /* visibility: hidden; */
    animation: none;
    top: -10vh;
  }

  .nav-shown {
    width: 100%;
    height: 90vh;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 10vh;
    bottom: 100vh;
    padding-top: 5vh;
    z-index: 100;
    transition: 2s;
  }

  .nav-hidden {
    width: 100%;
    height: 90vh;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 10vh;
    bottom: 100vh;
    padding-top: 5vh;
    z-index: 100;
    left: 110vw;
    transition: 2s;
  }

  #promo-video {
    max-width: 90vw;
  }

  section {
    max-width: 100vw;
  }

  section p {
    font-size: smaller;
  }

  .social-icon-div {
    visibility: hidden;
  }
  ul {
    flex-direction: column;
    position: absolute;
    text-align: center;
    /* align-items: flex-start; */
    justify-content: space-between;
    background-color: #1a0d2c;
    width: 100vw;
    height: 100vh;
  }
}
